* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  padding: 40px;
}
h1 {
  position: absolute;
  top: 0;
  left: 0;
}
footer {
  color: white;
}
.footer-link {
  text-decoration: none;
  color: rgb(244, 199, 199);
}

.footer-link:hover {
  color: rgb(202, 134, 134);
}

@media (max-width: 820px) {
  body {
    padding-left: 0px;
  }
  canvas {
    position: relative;
    left: -120px;
  }

  footer {
    text-align: center;
  }
}
@media (max-width: 480px) {
  canvas {
    left: -160px;
  }
}
