* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
}

footer {
  color: white;
}
.footer-link {
  text-decoration: none;
  color: rgb(244, 199, 199);
}

.footer-link:hover {
  color: rgb(202, 134, 134);
}
